{
    margin: 1em;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-size: 16px;
    margin: initial;
    line-height: 32px;
    font-family:  Arial, sans-serif;
    text-align: start;
}

main,
footer {
    background-color: teal;
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 750px;
    text-align: center;
    font-family: 'Abel', sans-serif;
    font-size: 1em;
}
header,
 {
    background-color: teal;
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 750px;
    text-align: center;
    font-family: 'Abel', sans-serif;
    font-size: 1.5em;
 }
h1 {
    font-size: 1.5rem;
    margin: 0.15rem;
}
.subheading {
    font-size: 1.5rem;
    color: #fff;
    text-shadow:2px 2px 5px #000;
}

ul {
    list-style: none;
    text-align: center; 
    padding: 0em; 
}

header img {
    width: 125px;
    height: auto;
    box-sizing: border-box;
}

body {
    max width: 750px;
    margin: auto;
    display: block;
    letter-spacing: .04em;
    background-color: white;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

a {
    color: tomato;
}
h2 {
    font: arial lighter;
    font-size: 1rem;
    text-align: match-parent;
    border-bottom: 1px solid black;
}
