body {
	font-size: 16px;
	font-family: Monteserrat;
}
/* phone or baseline views **************************/
main {
	max-width: 767px;
	margin: 0 auto;
}
header {
border-radius: 20px;
font-size: 2em;
background-color: peachpuff;
text-align: center;
}
h2 {
	background-color: salmon;
	font-size: 1.5em;
}
image {
	max-width: 200px;
	height: auto;
	vertical-align: middle;
}

main {
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;
	text-align: center;
}
section{
	padding: 1em;
}

main section {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0 1rem;
	background-color: papayawhip;
}
section:nth-child(2) {
	display: none;
	margin: 0.5rem;
}
.colimage {
	box-shadow: 0 0 30px #333;
}
footer {
	text-align: center;
	border-radius: 15px;
	font-size: 1.5em;
	background-color: peachpuff;
}
.thirds {
    background-color: papayawhip;
}

