body {
	font-size: 16px;
	font-family: Monteserrat;
}
/* phone or baseline views **************************/
main {
	max-width: 767px;
	margin: 0 auto;
}
header {
border-radius: 20px;
font-size: 2em;
background-color: teal;
text-align: center;
}
h2 {
	background-color: salmon;
	font-size: 1.5em;
}
image {
	width: 200px;
	height: auto;
	vertical-align: middle;
}

main {
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;
	text-align: center;
}

main section {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0 1rem;
	background-color: lightcyan;
}
section:nth-child(2) {
	display: none;
	margin: 0.5rem;
}
.colimage {
	box-shadow: 0 0 30px #333;
}
footer {
	text-align: center;
	border-radius: 15px;
	font-size: 1.5em;
	background-color: teal;
}

/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
	main {
		grid-template-columns: 1fr 1fr;
	}

	section:nth-child(2) {
		display: block;
	}

	section:nth-child(3) {
		grid-column: span 2;
	}

	main picture {
		display: block;
	}
	main section picture img {
		width: 100%;
		height: auto;
		border: 1px solid #bbb;
	}
}

/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}

	section:nth-child(3) {
		grid-column: span 1;
	}
}
