/* Coolors Exported Palette - coolors.co/dde0bd-13c4a3-0d5c63-ffaf87-2c3233 */

/* HSL */
$color1: hsla(65%, 36%, 81%, 1);
$color2: hsla(169%, 82%, 42%, 1);
$color3: hsla(185%, 77%, 22%, 1);
$color4: hsla(20%, 100%, 76%, 1);
$color5: hsla(189%, 7%, 19%, 1);

/* RGB */
$color1: rgba(221, 224, 189, 1);
$color2: rgba(19, 196, 163, 1);
$color3: rgba(13, 92, 99, 1);
$color4: rgba(255, 175, 135, 1);
$color5: rgba(44, 50, 51, 1);