table{
    justify-items: center;
}
th, td {
    text-align: center;
    padding: 1em;
}
.darkerrow{
    background-color:#e7f0ed 
}
.lighterrow{
    background-color: #e7ffed;
} 
.secondhead{
    background-color: #628ca6;
    color: #fff;
}
.mainhead{
background-color: #7fb9c2;
}
.selected:nth-child(){
    background-color: #628ca6;
    color: #fff;
}
.footer{
    background-color: #7fb9c2;  
}