picture img[data-src] {
    filter: blur(0.2em);
  }
  
  picture img {
    filter: blur(0em);
    transition: filter .5s;
  }
  picture{
      display: block;
      padding: 1em;
      vertical-align: auto;
  }
  h1{
      text-align: center;
  }