/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {

    /*------------------------------------------------------------------*/
    div {
        display: grid;
        grid-template-columns: repeat (1, 1fr);
        grid-template-rows: auto;
        gap: 2px;
        justify-items: center;
        align-items: center;
        min-width: 35em;
    }


}