/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/*------------Main Page Elements (header, footer, nav, main)-----------------------------*/
nav ul li.active {
    color: #ccc;
}

header,
h1,
footer {
    background-color: rgba(19, 196, 163, 1);
    display: flex;
    /*flex-flow: block;*/
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}
header img{
    float: right;
}
.motto {
    color: rgba(255, 255, 255, 0.6);
    margin-top: -10px;
    margin-left: -30px;
    font-style: italic;
    font-size: .75rem;
}

main,
footer {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
    margin: 1em auto;
    padding: .5rem;
}

header,
nav,
main,
footer {
    margin: 1em auto;
    font-family: 'Roboto Condensed', sans-serif;
}
h3{
    background-color: rgba(255, 175, 135, 1);
    border-radius: 10px;
    max-height: 2em;
    position: relative;
}
main {
    text-align: center;
    max-width:820px;
    margin:0 auto;
}

main ul,
main li {
    text-align: left;
}

nav {
    background-color: rgba(255, 175, 135, 1);
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #000;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1em;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #000;
    border-top: 1px solid rgba(0, 0, 0, 0.8);
}

.navigation {

    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: #000;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
}

.navigation a:hover {
    color: #000;
    background-color: #fff;
    font-weight: 700;
}


.responsive li {
    display: block;
}



/* --------------------------------- hero section ----------------------------------------------------*/
.herodiv img {
    width: 100%;
    align: center;
    float: left;
}

.herodiv {
    margin: 10px auto;position: relative;
}

h1, h2, p {
    margin: 0;
}

.herosec {
	position: absolute;
	top: 15px;
	left: 25px;
	background: radial-gradient(#eee, #4567aa);
	border: 1px solid #000;
	padding: 1.5rem;
	box-shadow: 0 0 30px #111;
    opacity: .8;
}

/*------------------article--------------------------------------*/

.articlediv img {
    width: 33%;
}

.articlediv {
    border-radius: 1px;
    position: absolute;
}

.articleclass img{
    width: 100%;
}

/*-------------------------------------------contact info--------------------------------------------------------------*/
.contactinfo img {
    width: 100%;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}