
header,
h1,
footer
 {
    background-color: rgba(19, 196, 163, 1);
    display: flex;
    flex-flow: block;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}
main,
footer
 {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
}
header,
nav,
main,
footer
 {
    max-width: 767px;
    margin: 1em auto;
    font-family: 'Roboto Condensed', sans-serif;
}

/*footer{
    background-color: rgba(19, 196, 163, 1);
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 750px;
    text-align: center;
    font-family: 'Abel', sans-serif;
    font-size: 1em;
}*/

main {
    text-align: center;
}

main ul,
main li {
    text-align: left;
}

nav {
    background-color: rgba(255, 175, 135, 1);
    box-shadow: 0 2px 5px rgba(44, 50, 51, 1);
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
nav li {
    flex: 1 1 100%;
}
nav ul {

    display:flex;
    list-style: none;
    margin: 0;
    padding: .5em;
    overflow: hidden;
    align-content: center;
    text-align: center;
    flex-direction: column;
    
}

nav li a {
    display: block;
    color: rgba(44, 50, 51, 1);
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 0.95rem;
}
