header,
h1,
footer
 {
    background-color: rgba(19, 196, 163, 1);
    display: flex;
    flex-flow: block;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
footer {
    border-radius: 10px;
}
header,
nav,
main,
footer {
    max-width: 767px;
    margin: 1em auto;
}

main {
    text-align: center;
}

main ul,
main li {
    text-align: left;
}

nav {
    background-color: rgba(255, 175, 135, 1);
    box-shadow: 0 2px 5px rgba(44, 50, 51, 1);
    display: flex;
    flex-flow: block;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: .5em;
    overflow: hidden;
    align-content: center;
    text-align: center;
    
}

nav li a {
    display: block;
    color: rgba(44, 50, 51, 1);
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 0.95rem;
}

nav a:hover {
    background-color: rgba(221, 224, 189, 1);
    color: rgba(44, 50, 51, 1)