header,
] {
	background-color: rgba(19, 196, 163, 1);
	display: flex;
	flex-flow: horizontal;
	align-items: center;
	justify-content: center;
    padding: 10px;
}
footer{
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 767px;
    text-align: center;
    font-family: 'Abel', sans-serif;
    font-size: 1em;
}
header img{
float: right;
}

header,
nav,
main,
 {
	max-width: 767px;
    margin: 1.25rem auto;
    padding: 1em
}
main {
    text-align: center;
}
main ul,
main li {
    text-align: left;
}
nav {
	background-color: rgba(255, 175, 135, 1);
	text-align: center;
	box-shadow: 0 2px 5px rgba(44, 50, 51, 1)
}
nav ul {
    display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav li a {
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
}
nav a:hover {
	background-color: rgba(221, 224, 189, 1);
	color: rgba(44, 50, 51, 1)