main {
    background-color: lavender;
    max-width: 100%;
    border: lightslategray 2px;
    padding: .5em;
    display: block;
    box-shadow: darkslategray 5px;
}

header,
footer{
    text-align: center;
    color: darkslategray;
    padding: 1em;
}
header{
    font-size: 2.5em;
}
footer{
    font-size: 1.5em;
}

section {
    background-color: lightsteelblue;
    border: 1px solid black;
}

h2 {
    color: darkslategray;
    text-align: center;
    padding-top: .5em;
}

img {
    width: 50%;
    height: auto;
    margin-bottom: .5rem;
    box-shadow: 0 0 10 black;

}

birthdate,
birthplace,
img{
    display: block;
    text-align: center;
    padding: .5em;
    margin: auto;
    font-family:'Roboto', Verdana, sans-serif;
}

.cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-gap: .25rem;
    justify-items: center;
    align-items: center;
    
}

/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 2px;
        justify-items: center;
        align-items: center;
        min-width: 35em;
    }

}

/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {
    .cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        gap: 2px;
        justify-items: center;
        align-items: center;
        min-width: 64em;
    }
}