main {
    background-color: lavender;
    max-width: 100%;
    border: lightslategray 2px;
    border-radius: 10px;
    padding: .5em;
    display: block;
    box-shadow: darkslategray;
}

header,
footer{
    text-align: center;
}

section {
    background-color: thistle;
    border-radius: 10px;

}

h2 {
    color: darkslategray;
    text-align: center;
    padding-top: .5em;
}

image {
    max-width: 150px;

}

birthdate,
birthplace,
image{
    display: block;
    text-align: center;
    padding: .5em;
    margin: auto;
}

.cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 2px;
    justify-items: center;
    align-items: center;
}

/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 2px;
        justify-items: center;
        align-items: center;
        min-width: 35em;
    }

}

/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {
    .cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        gap: 2px;
        justify-items: center;
        align-items: center;
        min-width: 64em;
    }
}